*.exe
*.exe~
*.dll
*.so
*.dylib

# Default binary
catapult-server

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

.DS_Store

# Generated databse
data.sqlite
